#RegisterBtn{
  background: linear-gradient(to bottom right , var(--color3),var(--color2));
  color: var(--color1);
  border: none;
  transition: all 1s linear;
}
#RegisterBtn:hover{
  background: linear-gradient(to bottom right , var(--color2),var(--color3));
  border: none ;
  color: var(--color1);
  cursor: pointer;
}
#CancelBtn{
  border: .2px solid var(--color3);
  color: var(--color3);
  transition: all 1s ease;
}
#CancelBtn:hover{
  border: .2px solid var(--color3);
  background-color: var(--color3);
  color: var(--color1);
  cursor: pointer;
}
