/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
:root{
  --color1 : #FAEEE7;
  --color2:#D96098;
  --color3:#325288;
  --color4:#24A19C;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
}
